

.prevent-selected {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.contain {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: -2%;
    width: 102%;
}

.box-row {
    background-color: var(--branco);
}

.text-background {
    width: 150%;

    color: var(--Azul, #2B3990);
    font-size: 20.625rem;
    font-style: normal;
    font-weight: 800;
    line-height: 15.625rem;
    text-transform: uppercase;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.title-author {
    padding: 62px;
}

.title-article {
    color: var(--Azul, #2B3990);
    font-size: 5.2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.author {
    color: var(--Preto, #0B1035);
    margin-top: 42px;
    text-overflow: ellipsis;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.875rem;
}

.text {
    padding: 32px;
    color: var(--Preto, #0B1035);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
}

#two {
    margin-top: 390px;
}

p:first-child {
    margin-bottom: 30px;
}