* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /*COLORS*/
    --preto: #0B1035;
    --branco: #F9FAFF;
    --azul: #2b3c90;

    /*FONTE*/
    --fonte: 'Work Sans', sans-serif;

    font-family: var(--fonte);
}

/*#artigo1{
    margin-left: 8%;
}*/

#AB{
    position: absolute;
    right: 8%;
    align-self: center;
    color: black;
}

.nav-bar {
    background-color:var(--branco);
    color:var(--preto);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 8%;
    width: 100%;
    z-index: 1000;
    align-content: center;
    position: relative;
    top: 0;
}

nav a {
    color: var(--preto);
    text-decoration: none;
}

nav .ul a {
    margin-right: 30px;
    font-size: 24px;
    font-weight: 800;
}

.nav-bar a:hover {
    border-bottom: 4px solid var(--preto);
}

.nav-bar a.selected {
    border-bottom: 4px solid var(--azul);
    color: var(--azul);
}

#AB {
    float: right;
    font-size: 2.5rem;
    font-weight: 800;
}

footer {
    background-color: var(--azul);
    color: var(--branco);
    padding: 15px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
    margin: 0 3vw;
}

.upperCase {
    text-transform: uppercase;
}

.text-extrabold {
    font-weight: 800;
}

.text-big {
    font-size: 2.063rem;
    line-height: 2.65rem;
}