* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /*COLORS*/
    --preto: #0B1035;
    --branco: #F9FAFF;
    --azul: #2b3c90;

    font-family: 'Work Sans', sans-serif;
}

#artigo1{
    margin-left: 8%;
}

#AB{
    position: absolute;
    right: 8%;
    align-self: center;
    color: black;
}

.nav-bar {
    background-color:var(--branco);
    color:var(--branco);
    display: flex;
    justify-content: flex-start; /* Align items to the left */
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000; /* Ensure it's above other elements */
}

.nav-bar a {
    color: var(--preto);
    text-decoration: none;
    padding: 15px;
    margin-right: 20px; /* Add some space between the items */
    position: relative;
}

.nav-bar a:hover {
    border-bottom: 4px solid var(--preto);
}

.nav-bar a.selected {
    border-bottom: 4px solid var(--azul);
    color: var(--azul);
    font-weight: bold;
}

footer{

}