@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

#item-4-3 {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center; /* Optional: horizontally center the content */
}

.grid-container-wrapper {
    overflow: hidden;
}

.grid-item img {
    transition: transform 0.3s ease-in-out;
}

#image-container {
    position: relative; /* Change to relative to make the absolute positioning relative to this container */
    width: 85%; /* Make sure the container takes up the full width of its parent */
    margin-left: 8%;
}

.cover-rectangle-color {
    height: 111%; /* Maintain aspect ratio */
    position: absolute;
    z-index: 0;
}

.background-image-color {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    position: absolute;
    z-index: -3;
}

.background-image {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    position: absolute;
    z-index: -2; /* Lower z-index for background */
}

.foreground-image {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    position: absolute;
    z-index: -1; /* Adjust z-index as needed */
}

@keyframes rotateAnimation {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@charset "UTF-8";

.grid-cover-container {
    display: grid;
    padding-left: 4.1%;
    padding-top: 1.8%;
    padding-bottom: 4.1%;
    grid-template-columns: repeat(5, 18.9% [col-start]);
    grid-template-rows: repeat(5, 159px [row-start]);
    position: relative;
}

.grid-container {
    display: grid;
    padding-left: 4.1%;
    padding-top: 1.9%;
    grid-template-columns: repeat(5, 19.6% [col-start]);
    grid-template-rows: repeat(30, 187px [row-start]);
    position: relative;
}

/* Style for grid items */
.grid-item {
    position: relative;
}

.cover-letter-vertical {
    position: absolute;
    display: block;  /* Removes any default spacing/margin */
    object-fit: contain;
}

.grid-item-big {
    position: relative;
    overflow: visible; /* Allow content to overflow */
}

.cover-letter-horizontal {
    position: absolute;
    display: block;  /* Removes any default spacing/margin */
}

.small-image {
    max-height: 73%;
    bottom: 0;
}

.line-small-cover {
    width: 71%;
    position: absolute;
}

.line-big-cover {
    width: 100%;
    position: absolute;
    right: 0;
}



.text-regular {
    position: absolute;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 17pt;
}

.text-extrabold {
    position: absolute;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}

.title {
    font-size: 30pt;
    padding: 15px;
}

.nav-bar {
    background-color: #ffffff;
    color: white;
    display: flex;
    justify-content: flex-start; /* Align items to the left */
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000; /* Ensure it's above other elements */
}

.nav-bar a {
    color: black;
    text-decoration: none;
    padding: 15px;
    margin-right: 20px; /* Add some space between the items */
    position: relative;
}

.nav-bar a:hover {
    border-bottom: 4px solid black;
}

.nav-bar a.selected {
    border-bottom: 4px solid #2a3b90;
    color: #2a3b90;
    font-weight: bold;
}

.content-section {
    margin-top: 60px; /* Adjust based on the height of your navbar */
    padding: 20px;
}